.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    display: none;
}
.carousel {
    padding-top: 20px;
}
.carousel .carousel-indicators {
    top: 0;
    bottom: auto;
    left: 0;
    justify-content: flex-start;
    margin: auto;
}
.carousel .carousel-indicators li {
    background-color: #D1D1D1;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
}
.carousel .carousel-indicators li.active {
    background-color: #3A00FF;
}
.carousel .carousel-inner .carousel-item .custom-carousel .custom-carousel-ttl {
    font-weight: 900;
    font-size: 69px;
    line-height: 82px;
    text-transform: capitalize;
    color: #3A00FF;
}
.carousel .carousel-inner .carousel-item .custom-carousel .custom-carousel-sttl {
    font-weight: 900;
    font-size: 52px;
    line-height: 70px;
    text-transform: capitalize;
    color: #000000;
}
.carousel .carousel-inner .carousel-item .custom-carousel .custom-carousel-p {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
    color: #000000;
}
.carousel .carousel-inner .carousel-item .custom-carousel .custom-carousel-cta-wrap {
    margin-top: 40px;
}
.carousel .carousel-inner .carousel-item .custom-carousel .custom-carousel-cta-wrap .bttn {
    margin-right: 32px;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.carousel .carousel-inner .carousel-item .custom-carousel .custom-carousel-img-wrap {
    text-align: center;
    max-width: 520px;
    overflow: hidden;
    margin: auto;
}