.btn-primary {
    background-color: black !important;
}
.main-logo {
    height: 41px;
    width: auto;
}
.main-header {
    padding: 40px 0;
}
.main-header .container-fluid {
    max-width: 1600px;
}
.navbar-expand-lg .navbar-nav .nav-link.header-links {
    padding-left: 25px;
    padding-right: 25px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}



.rt-menu-wrap {
    display: flex;
}
.custom-toggle-switch {
    align-self: center;
    max-height: 40px;
    margin: auto 27px;
}
.custom-toggle-switch #toggle_checkbox {
    display: none;
}
.custom-toggle-switch label {
    width: 88px;
    height: 40px;
    margin: 0 auto;
    background-color: #FFFDF2;
    border: 1px solid #E0A818;
    border-radius: 56px;
    transform: translateY(0%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}
.custom-toggle-switch #star {
    position: absolute;
    top: 12px;
    left: 18px;
    width: 16px;
    height: 16px;
    background-color: #E0A818;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}
.custom-toggle-switch #star-1 {
    position: relative;
}
.custom-toggle-switch #star-2 {
    position: absolute;
    transform: rotateZ(36deg);
}
.custom-toggle-switch .star {
    top: -8px;
    left: -5px;
    font-size: 31px;
    line-height: 28px;
    color: #E0A818;
    transition: 0.3s ease color;
}
.custom-toggle-switch #moon {
    position: absolute;
    bottom: -52px;
    right: 22px;
    width: 30px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}
.custom-toggle-switch #moon:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -21px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}
.custom-toggle-switch #toggle_checkbox:checked + label {
    background-color: #11191d;
    border: 1px solid #21dbc1;
}
.custom-toggle-switch #toggle_checkbox:checked + label #star {
    top: 3px;
    left: 36px;
    transform: scale(0.3);
    background-color: #E0A818;
}
.custom-toggle-switch #toggle_checkbox:checked + label .star {
    color: #E0A818;
}
.custom-toggle-switch #toggle_checkbox:checked + label #moon {
    bottom: 8px;
}
.custom-toggle-switch #toggle_checkbox:checked + label #moon:before {
    background-color: #11191d;
}