.main-footer {
    display: block;
    width: 100%;
    padding: 70px 0;
    margin-bottom: 70px;
}

.main-footer .footer-wrapper .footer-widget h4 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #3A00FF;
    margin-bottom: 20px;
}
.main-footer .footer-wrapper .footer-widget a {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #3A00FF;
}
.main-footer .footer-wrapper .footer-widget .footer-link .nav-item .nav-link {
    padding: 0;
    margin-right: 20px;
}
.main-footer .footer-wrapper .footer-widget .footer-social-link .nav-item .nav-link {
    padding: 0;
    margin-right: 18px;
}
.main-footer .footer-wrapper .footer-widget .footer-social-link .nav-item .nav-link i {
    font-size: 22px;
}